
.field {
  font-size: 12pt;
  width: 400px;
}

/* input field */
.search {
  float: left;
  width: 55%;
  font-size: 11pt;
  padding: 4px 0px 4px 10px;
  border-right: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  height: 22px;
  border-radius: 4px 0 0 4px;
  background-color: #49ff49;
  transition: width 125ms;
}

.search::placeholder {
  color: green;
}

.search:focus {
  outline: none;
  width: 60%;
  color: black;
  background-color: white;
  border-right: 1px solid grey;
}

.button {
  cursor: pointer;
  font-size: 11pt;
  border-top: 1px solid grey;
  background-color: white;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 8px 12px 6px 5px;
  display: inline-block;
  transition: color 200ms;
  border-radius: 0 4px 4px 0;
  background-color: #49ff49;
}

.button::before {
  content: " ";
  background-image: url(https://icon.now.sh/search);
  display: inline-block;
  width: 13px;
  height: 13px;
}

.button:hover {
  color: #aaa;
}
